* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lora', san-serif; 
}

#bg {
    height:100vh;
    width:100vw;
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    
    #mainLargePhoto {
        top: 0;
        left: 0;
        height: 100vh;
        width: auto;
        opacity: 0;
        
        &.loaded.animate {
            left: 0;
            opacity: 0;
            transform: translateX(calc(-100% + 100vw));
            animation: slowpan 20s ease-in-out 0s 1 normal forwards;
        }
        // &.loaded.animate.fadeout {
        //     opacity: 100;
        //     animation: imagefadeout 4s ease-in 1s 1 normal forwards;;
        // }
    }

    #quote {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        max-width: 260px;
        transform: translateX(-50%) translateY(-50%);
        color: white;
        text-align: center;
        animation: fadein 6s;
        opacity: 0;
        span {
            font-style: italic;
        }
        &.fadeout {
            animation: fadeout 4s;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 95%;
    @media screen and (min-width:768px) {
        max-width: 85%;
    }
    @media screen and (min-width:1200px) {
        max-width: 768px;
    }
    @media screen and (min-width:1400px) {
        max-width: 1100px;
    }
}

main {
    box-sizing: border-box;
    img {
        width: 100%;
        @media screen and (min-width:600px) {
            float: left;
            width: 50%;
            display: inline-block;
            margin-bottom: 1em;
        }
    }
    .small {
        font-size: .9em;
    }
}

img#livingRoomPhoto {
    max-width: 100%;
}

@keyframes fadein {
    from { 
        opacity: 0; 
        transform: translateX(-50%) translateY(-35%);
    }
    to   { 
        opacity: 1; 
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes fadeout {
    from { 
        opacity: 1; 
        transform: translateX(-50%) translateY(-50%);
    }
    to   { 
        opacity: 0; 
        transform: translateX(-50%) translateY(-65%);
    }
}

// @keyframes imagefadeout {
//     from { 
//         opacity: 1;
//         transform: translateX(calc(-100% + 100vw)) scale(1);
//     }
//     to   { 
//         opacity: 0;
//         transform: translateX(calc(-100% + 100vw)) scale(1.1);
//     }
// }
@keyframes slowpan {
    0% {
        transform:translateX(0);
        opacity: 0;
    }
    
    90% {
        opacity: 10;
    }
    
    100% {
        opacity: 100;
        transform:translateX(calc(-100% + 100vw));
    }
}

@media screen and (min-width:768px) {
    @keyframes slowpan {
        0% {
            transform:translateX(0);
            opacity: 0;
        }
        
        90% {
            opacity: 10;
        }
        
        100% {
            opacity: 100;
            transform:translateX(calc(-90% + 100vw));
        }
    }
}